.productImage{
    position: relative;
    width: 120px;
    height: 150px;
    float: left;
}
.productButton {
    margin-left: 15%;
}
.indiv_container{
    display: flex;
    margin: 10px;
    margin-left: 35px;
}
.fa-solid{
    margin-left: 10px;
}
.fa-circle-chevron-left{
    margin-left: 10px;
    color: white;
}
.fa-circle-chevron-right{
    margin-left: 10px;
    color:lightskyblue
}