body{
  text-align: center ;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
 .MobileMode{
  max-width: 750px;
  max-height: 1200px;
  display: flex;
}

.DesktopMode{
  max-width: 1200px;
  max-height: 1200px;
  display: flexbox;
} 
.container{
  display: flex;
}



