.productImage{
    position: relative;
    max-width: 100px;
    max-height: 150px;
    float: left;
}
.productButton {
    margin-left: 15%;
}
.indiv_container{
    display: flex;
    margin: 10px;
    margin-left: 35px;
}
.showMore{
    float: left;
}
.showMore
    :active{
    color: lightskyblue;
}
#stay[id] {
    color: red;
}
.fa-solid{
    margin-left: 10px;
}
.fa-circle-chevron-left{
    margin-left: 10px;
    color: white;
}
.fa-circle-chevron-right{
    margin-left: 10px;
    color:lightskyblue
}